body {
    background: url('background.jpeg'); 
    color: white;
}
form {
	display: table;
	padding-top: 30px; 
}
form div {
	font-size: 20pt;
	display: table-row;
    line-height: 70px; 
}
form div label {
	font-size: 20pt; /*піб, рік, країна*/
	padding-right: 20px; 
	display: table-cell;
}
form div input {
	font-size: 20pt; /*Змінити*/
	display: table-cell;
	line-height: 20px;
	border-radius: 5px; 
}
input[name='authorName'] {
	font-size: 20pt;
	width: 600px; 
}
input[name='authorYear'] {
	font-size: 20pt;
	width: 600px; 
}
input[name='authorCountry'] {
	font-size: 20pt;
	width: 600px; 
}
a {
	font-size: 20pt;
    color: rgb(255, 249, 65);
    text-decoration: none;
}
a:hover {
	font-size: 20pt;
	color: red;
}