body { 
    background: url('background.jpeg');
    color: rgb(255, 255, 255);
}
span.text-author-name {
	font-size: 20pt; /*розмір "ПІБ" автора*/
	font-weight: bold;
	color: white;
}
span.author-name {
	font-size: 20pt; /*розмір ПІБ автора*/
	font-weight: bold;
	color: rgb(247, 255, 18);
}
span.text-author-year {
	font-size: 20pt; /*розмір "ДР" автора*/
	font-weight: bold;
	color: white; 
}
span.author-year {
	font-size: 20pt; /*розмір ДР автора*/
	font-weight: bold;
	color: rgb(247, 255, 18);
}
span.text-author-country {
	font-size: 20pt; /*розмір "Країни" автора*/
	font-weight: bold;
	color: white;
}
span.author-country {
	font-size: 20pt; /*розмір Країни автора*/
	font-weight: bold;
	color: rgb(247, 255, 18);
}
h3 {
	font: bold 1.0em Arial, sans-serif; 
	text-shadow: black 1px 1px 0, black 2px 2px 0, 
	black 3px 3px 0, black 4px 4px 0, black 5px 5px 0; 
}
input {
	background-color: rgb(255, 255, 255); /*кнопки "Перейти","Фільтрувати"*/
}
td {
	font-size: 20pt; 
	border-style: solid;
	border-color: rgb(34, 1, 1);
	border-width: 2px; 
	color: black; 
	background-color: wheat;
}
th {
	font-size: 20pt;
	border-style: solid;
	border-color: rgb(34, 1, 1);
	background-color: brown; 
}
header { 
	font-size: 20pt;
	margin-bottom: 40px;
}
form[name='books-filter'] {
	font-size: 20pt; /*розмір "Фільрувати за назвою"*/
	font: bold 1.2em Arial, sans-serif;
	color: rgb(255, 255, 255);
	text-shadow: rgb(0, 0, 0) 1px 1px 0, rgb(0, 0, 0) 2px 2px 0, 
	rgb(0, 0, 0) 3px 3px 0, rgb(0, 0, 0) 4px 4px 0, rgb(0, 0, 0) 5px 5px 0;
	margin: 10px 0px 10px 0px;
}
input[name='bookTitleFilter'] { 
	font-size: 20pt;
	width: 250px;
}
div.control a {
	font-size: 20pt;
    color: rgb(255, 255, 255); /*фон кнопок "Редагувати/Видалити автора","Додати книгу/автора"*/
	background-color: black;
    text-decoration: none;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
div.control a:hover { 
	font-size: 20pt;
	color: red;
    border: 3px red solid;
}
div.control {
	font-size: 20pt;
	margin-bottom: 20px;
}
div.user-info {
	text-align: right;
	font-size: 20pt;
	margin-bottom: 20px;
}
div.user-info a { /*"logout"*/
	color: yellow;
	text-decoration: none;
	margin-left: 20px;
}
div.user-info a:hover {
	color: lightblue;
	font-weight: bold;
}